.events-container{
  background-color: #563d7c;
  padding: 50px 0px;
  .event-row{
    width: 100%;
    .col-on-the-left{
      padding-right: 0px;
      border-right: 3px solid #8C7AA7;
      height: 270px;
    }
    .arrow-right{
      float: left;
      width: 0; 
      height: 0; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 30px solid #674D8D;
    }
    .arrow-left{
      float: left;
      width: 0; 
      height: 0; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;   
      border-right:30px solid #674D8D; 
    }
    .row{
      padding: 20px 0px;
    }
    .row-left{
      width: 400px;
      float: right;
      .event-panel-left{
        float: left;
        width: 350px;
        border: none;
        color: #E2D4F7;
        border-top-left-radius: 5px;
        &:hover{
          box-shadow: -10px 10px 1px #432F61;
          transition-duration: 1s;
        }
        .panel-body{
          background-color: #7E61AA;
        }
        .panel-heading{
          color: #eee;
          border: none;
          background-color: #674D8D;
        }
      }
    }
    .row-right{
      width: 400px;
      padding-left: 5px;
      .event-panel-right{
        float: left;
        width: 350px;
        border: none;
        color: #E2D4F7;
        &:hover{
          box-shadow: 10px 10px 1px #432F61;
          transition-duration: 1s;
        }
        .panel-body{
          background-color: #7E61AA;
        }
        .panel-heading{
          color: #eee;
          border: none;
          background-color: #674D8D;
        }
      }
    }
    .row-time{
      padding-right: 20px;
      width: auto;
      .event-time{
        width: auto;
      }
    }
  }
  .modal-content{
    overflow: auto;
    background-color: #674D8D;
    color: #EBE4F6;
    padding: 30px;
    .modal-header{
      border-bottom: 2px solid #785F9C;
      button.close{
        color: #EBE4F6;
      }
    }
    .modal-body{
      hr{
        border-top: 1px solid #674D8D;
      }
      .light-text{
        color: #C1B5D3;
        font-size: 12px;
        margin: 0 0 3px 0;
      }
      .event-img{
        float: left;
        width: 30%;
        padding: 0 1em 0 0;
      }
    }
  }
}