<div class="container">
  <div class="row error-msg">
    <h1>一定是我打开的姿势不对</h1>
    <h1>一定是我打开的态度不对</h1>
    <h1>一定是我打开的眼神不对</h1>
    <h1>一定是我打开的角度不对</h1>
    <h1>一定是我开机的姿势不对</h1>
    <h1>一定是我手机的型号不对</h1>
    <h1>一定是我显示器的尺寸不对,对吧~</h1>
  </div>
</div>