<div class="row">
  <div class="col-sm-6">
    <div class="row row-left">
      <div class="panel panel-default event-panel-left">
        <div class="panel-heading">
          <%= event.time%>
        </div>
      </div>
      <div class="arrow-right"></div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="row row-right">
      <div class="arrow-left"></div>
      <div class="panel panel-default event-panel-right">
        <div class="panel-heading"><%= event.title%></div>
        <div class="panel-body">
          <%= event.description%>
        </div>
      </div>
    </div>
  </div>
</div>